@model WebApplication1.ViewModels.ImgViewModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<div class="container justify-content-center">
    <H1>Розмір файлу перевищує 100 кб. Активуйте аккаунт.</H1>
    <a asp-controller="Activation" asp-action="Activation" class="justify-content-center">Активувати</a>
</div>