@model WebApplication1.ViewModels.ActivationViewModel

@{
    Layout = "_Layout";
}

<div class="py-5" style="">
    <div class="container">
        <div class="row">
            <div class="mx-auto col-md-5">
                <h1>Активація</h1>
                <h2>Ваш ключ: @Model.ActivationKey</h2>
            </div>
        </div>
    </div>
</div>